body {
    background-image: url("https://cdn.wallpapersafari.com/89/99/MlyuSE.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}

.jumbotron {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timer {
    float: right;
}

.lead {
    text-align: center;
}
/* display:block */

#display-questions {
    margin-top: 20%;
    margin-right: 30%;
    margin-left: 30%;
    content: center;
    text-align: center;
    background-color: white;
    : 50%;
}

#answers {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#end-results-scoreboard {
    margin-top: 20%;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#highscores {
    background-color: white;
}

#timer {
    background-color: white;
}