/* .container {
    margin: 10px;
} */

.jumbotron {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timer {
    float: right;
}

.lead {
    text-align: center;
}
/* display:block */

#display-questions {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

#answers {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#end-results-scoreboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}